html,
body {
  position: relative;
  height: 100%;
}

html {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #ffe2bd;
  color: #2e4756;
}

a {
  color: inherit;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em 0;
}

th,
td {
  text-align: left;
  vertical-align: top;
  border: 1px solid;
  padding: 0.4em;
}

thead,
tfoot,
pre,
blockquote {
  background: #e5cbaa;
}

pre,
blockquote {
  padding: 12px;
}

hr {
  border: 0;
  border-bottom: 1px solid #2e4756;
}
