---
import { Content as AboutContent } from "../../data/about.md";
---

<div id="splash-about">
  <AboutContent />
  <p>
    I'm currently <strong>looking for work</strong>!
  </p>
</div>

<style>
  /* Rule is global to punch through and style nested markdown */
  :global(#splash-about strong) {
    font-weight: 600;
    color: var(--pop-color);
  }

  :global(#splash-about em) {
    color: var(--dark-text-color);
  }
</style>
