---

---

<div id="splash-nametag">
  <div id="splash-nametag-bar"></div>
  <div>
    <span>Hello, my name is</span>
    <h1>Kyle Owsen</h1>
  </div>
</div>

<style>
  #splash-nametag {
    display: flex;
    gap: 0.8em;
  }

  #splash-nametag-bar {
    width: 0.2em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    border-bottom-left-radius: 0.1em;
    border-top-left-radius: 0.1em;
    background-color: var(--pop-color);
  }

  h1 {
    color: var(--pop-color);
    font-size: 2.4em;
    margin: 0;
  }

  span {
    font-style: italic;
    color: var(--dark-text-color);
    font-size: 0.8em;
  }
</style>
