---

---

<div id="splash-nametag">
  <div id="splash-nametag-bar"></div>
  <div>
    <p class="eyebrow">Hello, my name is</p>
    <p class="title">Kyle Owsen<span class="title-comma">,</span></p>
  </div>
</div>

<style>
  #splash-nametag {
    display: flex;
    gap: 0.8em;
  }

  #splash-nametag-bar {
    width: 0.2em;
    margin-top: 0.4em;
    margin-bottom: 0.6em;
    border-bottom-left-radius: 0.1em;
    border-top-left-radius: 0.1em;
    background-color: var(--pop-color);
  }

  p.title {
    color: var(--pop-color);
    font-size: 2.4em;
    margin: 0;
    font-weight: 700;
  }

  span.title-comma {
    font-style: italic;
    color: var(--dark-text-color);
    font-weight: 400;
  }

  p.eyebrow {
    font-style: italic;
    color: var(--dark-text-color);
    font-size: 0.8em;
    margin: 0;
  }
</style>
