---
import LinkButton from "../LinkButton.astro";
---

<div id="splash-projects-button-container">
  <button id="splash-projects-button">
    <span id="splash-projects-button-content"
      >I also make games, puzzles, and other neat&nbsp;stuff&nbsp;▼</span
    >
  </button>
</div>

<script>
  document
    .getElementById("splash-projects-button")
    ?.addEventListener("click", () => {
      document.getElementById("projects")?.scrollIntoView();
    });
</script>

<style>
  #splash-projects-button-container {
    display: flex;
    margin-top: 1em;
  }

  #splash-projects-button-content {
    text-align: center;
    font-size: 0.8em;
    padding: 0.2em;
  }
</style>
