---
import LinkButton from "../LinkButton.astro";
---

<div id="splash-projects-button-container">
  <LinkButton href="#projects">
    <span id="splash-projects-button-content"
      >I also make games, puzzles, and other neat&nbsp;stuff&nbsp;▼</span
    >
  </LinkButton>
</div>

<style>
  #splash-projects-button-container {
    display: flex;
    margin-top: 1em;
  }

  #splash-projects-button-content {
    text-align: center;
    font-size: 0.8em;
    padding: 0.2em;
  }
</style>
