---

---

<div id="splash-nametag">
  <div id="splash-nametag-bar"></div>
  <div>
    <span>Hello, my name is</span>
    <h1>Kyle Owsen</h1>
  </div>
</div>

<style>
  #splash-nametag {
    display: flex;
    gap: 16px;
  }

  #splash-nametag-bar {
    width: 4px;
    margin-top: 12px;
    margin-bottom: 8px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-color: var(--pop-color);
  }

  h1 {
    color: var(--pop-color);
    margin: 0;
  }

  span {
    color: var(--dark-text-color);
    font-size: 16px;
  }
</style>
