---

---

<div>
  <p>
    I'm a software engineer with <span class="emphasis"
      >10&nbspyears of experience</span
    >
    designing scalable frontend architecture for <span class="emphasis"
      >Google</span
    >, <span class="emphasis">Meta</span>, <span class="emphasis">Amazon</span>,
    and startups of all shapes and sizes.
  </p>
  <p>
    Currently <span class="emphasis">looking for work</span>, please reach out
    if you have an interesting project!
  </p>
</div>

<style>
  .emphasis {
    font-weight: 600;
    color: var(--pop-color);
  }
</style>
