---
import Splash from "../components/splash/Splash.astro";
import Page from "../layouts/Page.astro";
---

<Page title="Kyle Owsen Portfolio">
  <Splash />
  <div id="projects">And then there's other stuff here</div>
</Page>

<style>
  #projects {
    height: 1600px;
  }
</style>
