---
import Bio from "../components/Bio.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- <Header /> -->
  <Bio />
  <div id="projects">And then there's other stuff here</div>
</Layout>

<style>
  #projects {
    height: 1600px;
    background-color: #13191f;
  }
</style>
