---
import background1 from "../assets/triangles.png";
import background2 from "../assets/triangledark.png";
---

<div id="container">
  <div id="image-container">
    <div id="triangles1"></div>
    <div id="triangles2"></div>
  </div>
  <div id="content">
    <div id="content-inner">
      <span>Hello, my name is</span>
      <h1>Kyle Owsen</h1>
      <p>
        I'm a software engineer with <span class="emphasis"
          >10 years of experience</span
        >
        designing scalable frontend infrastructure for <span class="emphasis"
          >Google</span
        >, <span class="emphasis">Meta</span>, <span class="emphasis"
          >Amazon</span
        >, and startups of all shapes and sizes.
      </p>
      <p class="footnote">
        I am currently <span class="emphasis">looking for work</span>! Please
        reach out if you're working on anything exciting.
      </p>
      <button>Resume</button>
      <br />
      <br />
      <button class="deemphasized">
        Between jobs I also make games, puzzles, and neat little web
        experiments. Scroll down to check them out! ▼
      </button>
    </div>
  </div>
</div>

<style
  define:vars={{
    background1: `url(${background1.src})`,
    background2: `url(${background2.src})`,
  }}
>
  #container {
    position: relative;
    width: 100%;
    min-height: 100svh;
    background-color: #333;
    display: flex;
    align-items: center;
  }

  #image-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.5) contrast(0.9);
  }

  @keyframes fadeLoop {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fadeLoop2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #triangles1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background2);
    background-position: center center;
    background-attachment: fixed;
    background-size: auto 60%;
    /* 
    animation-name: fadeLoop2;
    animation-duration: 48s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
  }

  #triangles2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background1);
    background-position: center center;
    background-attachment: fixed;
    background-size: auto 60%;

    animation-name: fadeLoop;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  #content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    flex-direction: column;
    /* background-color: rgba(0, 0, 0, 0.6); */
    /* backdrop-filter: contrast(70%) blur(2px); */
    color: #e0e1dd;
    text-shadow: 4px 4px 0px #1b263b;
    font-family: monospace;
  }

  #content-inner {
    max-width: 800px;
    padding: 48px;
    box-sizing: border-box;
    backdrop-filter: brightness(0.4) contrast(0.9) blur(4px);
    border-radius: 24px;
    margin: 24px;
  }

  h1 {
    text-align: center;
    color: gold;
    text-shadow: 2px 2px 1px darkgoldenrod;
  }

  .emphasis {
    font-weight: bold;
    font-style: italic;
    color: gold;
    text-shadow: 1px 1px 1px darkgoldenrod;
  }

  button {
    background-color: transparent;
    border: 1px solid #e0e1dd;
    color: #e0e1dd;
    padding: 12px;
    font-size: 20px;
    border-radius: 8px;
  }

  .footnote {
    font-size: 16px;
  }

  .deemphasized {
    opacity: 0.6;
  }
</style>
