---
const { href } = Astro.props;
---

<a href={href}>
  <slot />
</a>

<style>
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "IBM Plex Mono", monospace;
    border: 1px solid var(--dark-pop-color);
    color: var(--pop-color);
    padding: 8px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
  }

  a:hover {
    border-color: var(--pop-color);
  }

  a:active {
    background: rgba(255, 255, 255, 0.1);
  }
</style>
