---
interface Props {
  id?: string;
  href: string;
}

const { id, href } = Astro.props;
---

<a id={id} href={href}>
  <slot />
</a>

<style>
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "IBM Plex Mono", monospace;
    border: 1px solid var(--dark-pop-color);
    color: var(--pop-color);
    padding: 0.4em;
    border-radius: 0.4em;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
  }

  a:hover {
    border-color: var(--pop-color);
  }

  a:active {
    background: rgba(255, 255, 255, 0.1);
  }
</style>
